[Unit]
Description=Seanime Server
After=network.target
 
[Service]
Type=simple
WorkingDirectory=%h/.local/bin/seanime-app
ExecStart=%h/.local/bin/seanime-app/seanime
Restart=on-failure
 
[Install]
WantedBy=default.target
